*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    background-color: hsl(46.63deg 88.3% 63.14%);
}
.card{
    background-color: white;
    margin: 100px;
    width: 430;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px 0px black;

}