/* Reset básico */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    background-color: aquamarine;
    padding: 20px;
}

/* Estilos del título */
#tituloWeb {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    margin-bottom: 1rem;
}

/* Estilos de párrafos */
p {
    text-decoration: underline;
    color: blueviolet;
    margin-bottom: 1rem;
}

.henny-penny-regular {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}

.text-important {
    font-size: 2rem;
    background-color: yellowgreen;
    font-style: oblique;
    padding: 1rem;
    margin: 1rem 0;
}

/* Estilos del enlace */
a {
    display: inline-block;
    background-color: brown;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 1rem 0;
}

/* Estilos de las bolas */
.ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: chartreuse;
    border: 3px solid black;
    margin: 1rem 0;
}